#drum-machine {
   height: 100vh;
   background-color: teal;
}

#wrapper {
   background-color: #80cbc4;
   border: 5px solid #42a5f5;
   height: 250px;
   width: 400px;
}

#keyboard {

}

#display {
   text-align: center;
   padding: 10px;
   font-weight: bold;
   background-color: #009688;
   height: 23px;
   width: 150px;
}